@import url('https://fonts.googleapis.com/css2?family=Inter:wght@400;700&display=swap');

*,
*::before,
*::after {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

/* ================== */
/* Custom properties */
/* ================== */

:root {
  --ff-main: 'Inter', sans-serif;
  --fw-regular: 400;
  --fw-bold: 700;

  --fs-07: 0.438rem;
  --fs-08: 0.5em;
  --fs-09: 0.563em;
  --fs-10: 0.625rem;
  --fs-12: 0.75rem;
  --fs-13: 0.813rem;
  --fs-14: 0.875rem;
  --fs-15: 0.938rem;
  --fs-16: 1rem;
  --fs-18: 1.125rem;
  --fs-20: 1.25rem;
  --fs-22: 1.375rem;
  --fs-24: 1.5rem;
  --fs-26: 1.625rem;
  --fs-28: 1.75rem;
  --fs-32: 2rem;
  --fs-36: 2.25rem;
  --fs-40: 2.5rem;
  --fs-48: 3rem;
  --fs-56: 3.5rem;
  --fs-60: 3.75rem;
  --fs-64: 4rem;
  --fs-72: 4.5rem;
  --fs-80: 5rem;

  --clr-lime-green: hsl(163, 72%, 41%);
  --clr-bright-red: hsl(356, 69%, 56%);

  --clr-facebook: hsl(208, 92%, 53%);
  --clr-twitter: hsl(203, 89%, 53%);
  --clr-instagram: linear gradient hsl(37, 97%, 70%) to hsl(329, 70%, 58%);
  --clr-youtube: hsl(348, 97%, 39%);

  --clr-dark-theme-toggle: linear gradient hsl(210, 78%, 56%) to hsl(146, 68%, 55%);
  --clr-light-theme-toggle: hsl(230, 22%, 74%);

  /* Dark theme */
  --clr-very-dark-blue-bg: hsl(230, 17%, 14%);
  --clr-very-dark-blue-top-bg-pattern: hsl(232, 19%, 15%);
  --clr-dark-desaturated-blue: hsl(228, 28%, 20%);
  --clr-desaturated-blue: hsl(228, 34%, 66%);
  --clr-white-text: hsl(0, 0%, 100%);

  /* Light theme */
  --clr-white-bg: hsl(0, 0%, 100%);
  --clr-very-pale-blue: hsl(225, 100%, 98%);
  --clr-light-grayish-blue: hsl(227, 47%, 96%);
  --clr-dark-grayish-blue: hsl(228, 12%, 44%);
  --clr-very-dark-blue: hsl(230, 17%, 14%);
}

body {
  background-color: var(--clr-white-bg);
  color: var(--clr-dark-grayish-blue);
  font-family: var(--ff-main);
  font-size: var(--fs-14);
  font-weight: var(--fw-bold);
  line-height: 1.625;
  text-align: left;
}

img {
  max-width: 100%;
}

/* ================== */
/* Typography */
/* ================== */

.title {
}

/* ================== */
/* Buttons & inputs */
/* ================== */

/* ================== */
/* Utility styles */
/* ================== */

.attribution {
  font-size: 11px;
  text-align: center;
}
.attribution a {
  color: hsl(228, 45%, 44%);
}
