@import url('https://fonts.googleapis.com/css2?family=Inter:wght@400;700&display=swap');

*,
*::before,
*::after {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

/* ================== */
/* Custom properties */
/* ================== */

:root {
  --ff-main: 'Inter', sans-serif;
  --fw-regular: 400;
  --fw-bold: 700;

  --fs-07: 0.438rem;
  --fs-08: 0.5em;
  --fs-09: 0.563em;
  --fs-10: 0.625rem;
  --fs-12: 0.75rem;
  --fs-13: 0.813rem;
  --fs-14: 0.875rem;
  --fs-15: 0.938rem;
  --fs-16: 1rem;
  --fs-18: 1.125rem;
  --fs-20: 1.25rem;
  --fs-22: 1.375rem;
  --fs-24: 1.5rem;
  --fs-26: 1.625rem;
  --fs-28: 1.75rem;
  --fs-32: 2rem;
  --fs-36: 2.25rem;
  --fs-40: 2.5rem;
  --fs-48: 3rem;
  --fs-56: 3.5rem;
  --fs-60: 3.75rem;
  --fs-64: 4rem;
  --fs-72: 4.5rem;
  --fs-80: 5rem;

  --clr-lime-green: hsl(163, 72%, 41%);
  --clr-bright-red: hsl(356, 69%, 56%);

  --clr-facebook: hsl(208, 92%, 53%);
  --clr-twitter: hsl(203, 89%, 53%);
  --clr-instagram-yellow: hsl(37, 97%, 70%);
  --clr-instagram-pink: hsl(329, 70%, 58%);
  --clr-youtube: hsl(348, 97%, 39%);

  --clr-dark-theme-toggle-blue: hsl(210, 78%, 56%);
  --clr-dark-theme-toggle-green: hsl(146, 68%, 55%);

  --clr-light-theme-toggle: hsl(230, 22%, 74%);

  /* Dark theme */
  --clr-very-dark-blue-bg: hsl(230, 17%, 14%);
  --clr-very-dark-blue-top-bg-pattern: hsl(232, 19%, 15%);
  --clr-dark-desaturated-blue: hsl(228, 28%, 20%);
  --clr-desaturated-blue: hsl(228, 34%, 66%);
  --clr-white-text: hsl(0, 0%, 100%);

  /* Light theme */
  --clr-white-bg: hsl(0, 0%, 100%);
  --clr-very-pale-blue: hsl(225, 100%, 98%);
  --clr-light-grayish-blue: hsl(227, 47%, 96%);
  --clr-light-grayish-blue-hover: hsl(228, 45%, 91%);
  --clr-dark-grayish-blue: hsl(228, 12%, 44%);
  --clr-very-dark-blue: hsl(230, 17%, 14%);
}

body {
  background-color: var(--clr-white-bg);
  color: var(--clr-dark-grayish-blue);
  font-family: var(--ff-main);
  font-size: var(--fs-14);
  font-weight: var(--fw-bold);
  line-height: 1.625;
  text-align: left;
}
/* Dark mode */
body.dark {
  background-color: var(--clr-very-dark-blue-bg);
}

img {
  max-width: 100%;
}

/* ================== */
/* Typography */
/* ================== */

.title {
  color: var(--clr-very-dark-blue-bg);
  font-size: var(--fs-24);
}

.handle {
  font-size: var(--fs-12);
}

.num-followers {
  color: var(--clr-very-dark-blue);
  font-size: var(--fs-56);
}

.followers-subtitle {
  font-size: var(--fs-12);
  font-weight: var(--fw-regular);
  letter-spacing: 5px;
  text-transform: uppercase;
}

.daily-num {
  font-size: var(--fs-12);
}

.stats-title {
  font-size: var(--fs-24);
}

.number {
  color: var(--clr-very-dark-blue);
  font-size: var(--fs-32);
}

/* Dark mode */
body.dark .title,
body.dark .num-followers,
body.dark .number,
body.dark .stats-title {
  color: var(--clr-white-text);
}

body.dark .subtitle,
body.dark .switch-info,
body.dark .followers-subtitle,
body.dark .unit,
body.dark .handle {
  color: var(--clr-desaturated-blue);
}

/* ================== */
/* Buttons & inputs */
/* ================== */

/* ================== */
/* Utility styles */
/* ================== */

.positive {
  color: var(--clr-lime-green);
}

.negative {
  color: var(--clr-bright-red);
}

.facebook {
  border-top: 4px solid var(--clr-facebook);
}
.twitter {
  border-top: 4px solid var(--clr-twitter);
}
.instagram {
  border-style: solid;
  border-width: 4px;
  border-image: linear-gradient(
      to right,
      var(--clr-instagram-yellow),
      var(--clr-instagram-pink)
    )
    1;

  border-right: none;
  border-bottom: none;
  border-left: none;
}

.youtube {
  border-top: 4px solid var(--clr-youtube);
}

/* ================== */
/* SECTIONS */
/* ================== */

.wrapper {
  padding: 2em 1.5em 0.5em;

  position: relative;
}

.wrapper::before {
  content: '';

  /* Position */
  position: absolute;
  top: 0;
  left: 0;

  background: var(--clr-very-pale-blue);
  border-bottom-left-radius: 2em;
  border-bottom-right-radius: 2em;
  height: 235px;
  width: 100%;
  z-index: -1;
}

/* Header */
.title-area {
  /* Position */
  position: relative;

  padding-bottom: 1.25em;
}

.title-area::after {
  content: '';

  /* Position */
  position: absolute;
  bottom: 0;

  border-bottom: 1px solid var(--clr-dark-grayish-blue);
  height: 2px;
  width: 100%;
}

.switch-area {
  /* Flex */
  display: flex;
  justify-content: space-between;
  align-items: center;
  gap: 1em;

  padding-top: 1em;
}

.switch {
  background-color: var(--clr-light-theme-toggle);
  border-radius: 20px;
  cursor: pointer;
  display: inline-block;
  height: 22px;
  position: relative;
  width: 40px;
}

.switch:hover,
.switch:focus {
  background: linear-gradient(
    to right,
    var(--clr-dark-theme-toggle-blue),
    var(--clr-dark-theme-toggle-green)
  );
}

.switch input {
  /* Position */
  position: absolute;
  top: 0;
  left: 0;

  appearance: none;
  cursor: pointer;
}

.switch .slider {
  /* Position */
  position: absolute;
  top: 3px;
  left: 3px;

  border-radius: 50%;
  background-color: var(--clr-white-bg);
  height: 16px;
  width: 16px;

  /* Animations */
  transition: all 0.5s;
}

.switch input:checked + .slider {
  transform: translateX(18px);
}

/* Follower stats */
.follower-stats,
.stats-cards-area {
  /* Flex */
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  gap: 1.5em;

  padding: 2em 0;
}

.btn-card {
  background: var(--clr-light-grayish-blue);
  border-radius: 0.4em;
  max-width: 400px;
  padding: 1.75em;
  width: 100%;
}

.btn-card:hover,
.btn-card:focus {
  background: var(--clr-light-grayish-blue-hover);
  cursor: pointer;
}

.card-a {
  /* Flex */
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.platform-area,
.dailies-area {
  /* Flex */
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 1em;
}

.platform-area .logo {
  padding-top: 0.25em;
}

.num-followers {
  margin-bottom: -0.25em;
}

.followers-subtitle {
  text-align: center;
}

.dailies-area {
  gap: 0.25em;
  margin-top: 1em;
}

.dailies-area .icon {
  padding-bottom: 0.5em;
}

/* View Stats */

.view-stats {
  margin-top: 1.5em;
}

.stats-cards-area {
  gap: 0.5em;
  padding-top: 0.5em;
}

.card-b {
  /* Flex */
  display: flex;
  justify-content: space-between;
  align-items: center;

  margin-top: 1em;
  padding: 1.5em 2em 1em;
}

.card-b .platform {
  margin-top: -0.5em;
}

.card-b .number {
  margin-top: 0.5em;
}

.card-b .logo {
  text-align: right;
}

.card-b .dailies-area {
  margin-top: 2em;
}

.footer-signature {
  margin-top: 3em;
}

.attribution {
  font-size: 11px;
  text-align: center;
  font-weight: var(--fw-regular);
}

.attribution a {
  color: hsl(228, 45%, 44%);
}

/* Dark mode */
body.dark .wrapper::before {
  background: var(--clr-very-dark-blue);
}

body.dark .btn-card {
  background: var(--clr-dark-desaturated-blue);
}

/* ================== */
/* MEDIA QUERIES */
/* ================== */

/* Desktop */
@media (min-width: 1100px) {
  /* Typograpny */
  .title {
    font-size: var(--fs-28);
  }

  /* Utility classes */
  .wrapper::before {
    height: 244px;
  }

  .container {
    margin: 0 auto;
    max-width: 1100px;
  }

  /* HEADER */
  .header {
    /* Flex */
    display: flex;
    justify-content: space-between;
    align-items: center;
  }

  .title-area::after {
    content: none;
  }

  .switch-area {
    padding-top: 0em;
  }

  /* Follower stats */
  .follower-stats {
    /* Flex */
    flex-direction: row;
    gap: 2em;

    padding: 2em 0;
  }

  .stats-cards-area {
    /* Flex */
    flex-direction: row;
    flex-wrap: wrap;
    gap: 2em;
  }

  .card-b {
    max-width: 254px;
    margin-top: 0em;
  }
}
